In [586]:
#Импорт всех необходимых библиотек
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
import pandas as pd
import seaborn as sns
%matplotlib inline
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import re
import ast

In [587]:
data = pd.read_csv('data.csv')
#Посмотрим на данные
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377185 entries, 0 to 377184
Data columns (total 18 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   status        337267 non-null  object
 1   private pool  4181 non-null    object
 2   propertyType  342452 non-null  object
 3   street        377183 non-null  object
 4   baths         270847 non-null  object
 5   homeFacts     377185 non-null  object
 6   fireplace     103115 non-null  object
 7   city          377151 non-null  object
 8   schools       377185 non-null  object
 9   sqft          336608 non-null  object
 10  zipcode       377185 non-null  object
 11  beds          285903 non-null  object
 12  state         377185 non-null  object
 13  stories       226470 non-null  object
 14  mls-id        24942 non-null   object
 15  PrivatePool   40311 non-null   object
 16  MlsId         310305 non-null  object
 17  target        374704 non-null  object
dtypes: object(18)
memory usage: 51.8+ MB

In [588]:
#Посмотрим столбцы
print(data.columns)

Index(['status', 'private pool', 'propertyType', 'street', 'baths',
       'homeFacts', 'fireplace', 'city', 'schools', 'sqft', 'zipcode', 'beds',
       'state', 'stories', 'mls-id', 'PrivatePool', 'MlsId', 'target'],
      dtype='object')

Столбцы MlsId и mls-id - данные для риелторов. Они не понадобятся
Столбец private pool является копией PrivatePool, к тому же имеет больше пропущеных данных

In [589]:
data = data.drop(['MlsId', 'mls-id', 'private pool'], axis = 1)

In [590]:
#Процентное отношение пропущеных данных ко всем
total = data.isnull().sum().sort_values(ascending=False)
percent = (data.isnull().sum()/data.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
print(missing_data)

               Total   Percent
PrivatePool   336874  0.893127
fireplace     274070  0.726620
stories       150715  0.399578
baths         106338  0.281925
beds           91282  0.242009
sqft           40577  0.107579
status         39918  0.105831
propertyType   34733  0.092085
target          2481  0.006578
city              34  0.000090
street             2  0.000005
state              0  0.000000
zipcode            0  0.000000
schools            0  0.000000
homeFacts          0  0.000000

Видно, что в некоторых столбцах пропущено значительное количество данных

In [591]:
#Для начала, нужно максимально обработать все столбцы
#Посмотрим на пример данных в PrivatePool
print(data['PrivatePool'].unique())

[nan 'yes' 'Yes']

Очевидно, что в данном столбце nan означает отсутствие личного бассейна
В любом другом случае, бассейн есть и я заменю его на 1

In [592]:
def func_pool(x):
    if type(x) != int:
        x = x.replace(x, '1')
    return int(x)

data['PrivatePool'] = data['PrivatePool'].fillna(0).apply(func_pool)

In [593]:
print(data['fireplace'].unique())

['Gas Logs' nan 'yes' ...
 'Ceiling Fan, Fire Sprinkler System, Storage, Utility Connection'
 'Fireplace-Gas, Fireplace-Wood, Patio, Walk-in Closet'
 'Ceiling Fan, SMAPL, Utility Connection, Walk-In Closets']

Обрабатываем аналогично PrivatePool

In [594]:
def func_fire(x):
    if type(x) != int:
        x = x.replace(x, '1')
    return int(x)

data['fireplace'] = data['fireplace'].fillna(0).apply(func_fire)

In [595]:
#Рассмотрим stories
print(data['stories'].unique())

[nan '2.0' '1.0' '3.0' 'One' '2' 'Multi/Split' '4.0' '0.0' '0' 'One Level'
 '1' '9.0' '3' '1 Level, Site Built' 'One Story' '3.00' '1.00' '14.0'
 'Two' '3+' '1 Story' '5.0' '2 Story' 'Ranch/1 Story' 'Condominium'
 'Stories/Levels' '7.0' '2 Level, Site Built' '2 Level' '15'
 '3 Level, Site Built' '4' '22.0' '2.00' '6.0' '1.0000' 'Lot' '3 Story'
 'Three Or More' '1.5' '1 Level' 'Two Story or More'
 'Site Built, Tri-Level' '54.0' '23' 'Farm House' '8.0' '16.0' '1.50' '18'
 '9' '21' '8' '12.0' 'Split Level w/ Sub' '11.0' '18.0' '1.5 Stories' '7'
 '11' 'Townhouse' '12' '21.0' '16' '1.5 Story/Basement' '28.0'
 'Traditional' '2.5 Story' '17' '2.0000' '63.0' 'Acreage'
 'Ground Level, One' '6' 'Split Foyer' '2 Stories' '27.0' '19.0' '2.50'
 '1.30' '2 Story/Basement' 'Split Level' '1.5 Story' '1.5 Level'
 '2 Or More Stories' '1 Level, Condo, Site Built' '15.0' '20' '1.5000'
 '4.00' '1 Story Basement' '5' 'Multi-Level' '17.0' 'Other Multi-unit'
 'Ranch' 'Tri-Level' '13.0' '1 Story/Ranch' '51.0' '31' '19' 'High-Rise'
 'Mid-Rise' 'Detached' '3 Stories' '4 Story' '22' '46.0' '2.5'
 'One and One Half' ', 2' '1 1/2 Levels' '1.5 Level, Site Built' '70'
 '1 Story/F.R.O.G.' 'Commercial' '25.0' '3 Level, Townhouse' '3+ Story'
 '1.000' '33.0' '10' '3 Level, Site Built, Townhouse'
 'Three Or More, Multi/Split' 'Fourplex' '95.0' '90.0'
 'Manufactured Doublewide' '6+ Stories' '91' '35.0' '13' '2 Levels' '31.0'
 'Mobile' '33' 'Cabin/Cottage' 'Three Or More Levels' '24' 'Victorian'
 '1.75' '38' 'One, Two' '1-2 Stories, 3-4 Stories' 'Site Built'
 'Contemporary' '20.0' 'Garden' 'Site Built, Townhouse' 'Cape Cod' '26.0'
 '30' 'Dwelling Stories' '2 Level, Condo, Site Built' '36.0'
 'Modular Home' 'Bi-Level' '26' '42' '45' 'One, Two, Multi/Split' '14'
 'None' '3 - 5 Stories' 'Multi Level' ', 1' '29.0' '55.0' '3.0000' '78.0'
 '25' '56' 'Split Entry (Bi-Level)' '3 Level' '27' '36' '47.0'
 '3-4 Stories' '10.0' '47' '29' '1 Level, Non-Site Built' '40.0'
 'Site Built, Split Foyer' '1 Story, Townhouse' '43.0' '80.0' '43' '23.0'
 '24.0' 'Total Floors in Bldg' '3 Story, Multi Level'
 'Multi Level, Three or More' '34' 'Raised Ranch' '5.00' '1.7' '32'
 'Unimproved Commercial' '57' '41.0' 'Condo' '45.0' '39' '64.0' '1.7000'
 'Bungalow' '48' '1.5, 2' '2 Story, Tri Level' 'Two, Multi/Split'
 '3 Story, Tri Level' '57.0' '41' '2 Level, Split Foyer' '40' '28'
 '3 Levels' 'Other, Two, Multi/Split' '2 Level, Site Built, Townhouse'
 '32.0' '58.0' '58' '30.0' '52.0' 'Multi-Story' '42.0' '37.0'
 '1 Story, Split Level' '50' '30.00' '38.0' '44' '48.0' '16.00'
 'Tri Level' 'Tri/Multi Level' '2 Story, Split Level' 'Co-op'
 'Manufactured Singlewide' '2 Level, Condo' '3 Story/Basement'
 '1 Level, Site Built, Townhouse' '68.0' '60.0' 'Site Built, Split Level'
 '46' 'T3-Townhouse 3+ Stories' '77.0' 'Farm' '1 1/2 Story'
 '1 Leveland + Loft' '1.70' '2.5000' 'Duplex' '2.5 Story/Basement' '64'
 '70.0' 'Ground Level' '37' '78' '56.0' '1.500' '34.0' 'Two Stories'
 'Bedroom - Split Plan' 'Manufactured Home, Non-Site Built' '1-2 Stories'
 '1 Level, Condo' '1.2' 'Condo, Site Built' 'One, Three Or More' '4.0000'
 'Multi-Level, New Englander' '39.0'
 'Townhouse-2 Story, T3-Townhouse 3+ Stories' '2.000' 'Sixplex' '75' '35'
 '2 Story or 2 Level' '66.0' '62.0' '6.00' 'Quad Level' 'Triplex'
 'A Frame' '15.00' 'Tudor' '2 Story, Multi Level' 'Colonial' '82' ', 3'
 'Hillside' 'Live/Work' 'Apartments' '3 Level, Site Built, Split Level'
 '3 Level, Condo, Site Built' '77' '95' 'Log Home' '4 Stories'
 '1.5 Level, Site Built, Tri-Level' '49.0' '1120.0' '1, 1'
 '1 Story, 2 Story' 'Loft' '52' '3.000' '1 Level, Townhouse' '66'
 'Two, Three Or More' '2.20' 'Multi Level, Tri Level' '60'
 'Cape, Other Style' '11.00' '1.3000' 'Craftsman' 'Split Foyer, Tri-Level'
 '2 Stories, Tear Down' 'Log' '3.5' 'Condo 5+ Stories' 'Federal' '1002.0'
 '7.00' '1 Story, Hillside' '2 Stories, Townhouse'
 '2 Level, Site Built, Split Foyer' '96.0' 'Multi/Split, Two'
 'Ground Level, Two' 'Chalet' '80' '1 Level, 2 Level' '1 Level, 1.5 Level'
 'Ground Level, Split Level, Two' '1 Level, Split Foyer'
 '1 Story, Multi Level' 'One and One Half, Three Or More'
 '3 Level, Site Built, Tri-Level' 'Double Wide' 'Patio Home' '50.0' '65.0']

Видно, что большинство данных представленно в виде x.0 или x Levels
Мое шестое чувство подсказывает мне, что под nan в данном столбце подразумевается одноэтажный дом

In [596]:
#Обработка stories

def func_stor(x):
    if type(x) != int:
        x = re.findall(r'\d+',x)
        if (len(x) > 1):
            x = x[0]
        elif len(x) == 1:
            x = x[0]
        if not x:
            x = 1
    return int(x)

data['stories'] = data['stories'].fillna(1).apply(func_stor)
data['stories'] = pd.to_numeric(data['stories'])

In [597]:
print(data['baths'].unique())

['3.5' '3 Baths' '2 Baths' '8 Baths' nan '2' '3' 'Bathrooms: 2' '1,750'
 '4 Baths' '2 ba' 'Bathrooms: 5' '1,000' '7 Baths' '2.0' '3.0'
 'Bathrooms: 1' '4.0' '2.1 Baths' '2.5 Baths' '1' 'Bathrooms: 3' '4.5'
 '6 Baths' 'Bathrooms: 4' '3 ba' '5' '2,500' '5.5 Baths' '1.0' '5 Baths'
 '1.5' '4' '~' '2.5' '4,000' '3.5 Baths' '2,000' '3,000' '8.0' '1 ba'
 '3.5 ba' '0' '5.0' '1,500' '7.0' '1,250' '9 Baths' '2,250' '6.0'
 '12 Baths' '5.5' '3,500' '1.5 Baths' '2,750' 'Bathrooms: 6' '4.5 Baths'
 '750' '5.5+' '6' '10 Baths' '6 ba' 'Bathrooms: 19' '10.0' '1.5 ba' '4 ba'
 '12 ba' '2.5+' '8' '7.5+' 'Bathrooms: 10' '0 / 0' 'Sq. Ft. ' '5 ba'
 '4.5+' '18 Baths' '-- baths' 'Bathrooms: 7' '7' '18' '3.5+' '1.5+'
 '11 Baths' '5,000' '1.75 Baths' '9' '12.0' '1.1 Baths' '6.5'
 'Bathrooms: 8' '10' '19 Baths' 'Bathrooms: 9' '16 Baths' '13 Baths'
 'Bathrooms: 13' '14' '9.0' '8.5+' '7 ba' '12' '2.5 ba' 'Bathrooms: 12'
 '17' 'Bathrooms: 241' '16.0' '10.5+' '8 ba' '6.5+' '6.5 Baths' '14 Baths'
 '7,500+' '7.5' '11.0' '20 Baths' '11' '40 Baths' '1-0 / 1-0 / 1' '14.0'
 '1.75 ba' '2.75 Baths' '24 Baths' '22.0' '0.00' '2.25 Baths' '3.1 Baths'
 '3.25 Baths' '—' '13' '4.5 ba' '22' '9 ba' '32' '7.5 Baths' '18.0'
 'Bathrooms: 11' '17 Baths' '0.0' 'Bathrooms: 27' '26' '20.0' '9.5' '8.5'
 '26 Baths' '2 baths' '15 Baths' '16' '35' '3.75 Baths' '29 Baths'
 '22 Baths' 'Bathrooms: 18' '116 / 116 / 116' '40' '21 Baths' '5.2 Baths'
 '29' '8.5 Baths' '14.5+' '76 Baths' '13.0' 'Bathrooms: SemiMod'
 '3-1 / 2-2' '32 Baths' '2.25 ba' '15.0' '23 Baths' '3.3 Baths' '43 Baths'
 '21' '1.25 Baths' '34 Baths' '20' '2.2 Baths' '1 / 1 / 1 / 1' '55.0'
 '3 baths' '25 Baths' '12.5+' 'Bathrooms: 24' '44 Baths' '0.5 Baths'
 '4.25 Baths' '4.75 Baths' '0.75 Baths' '4.1 Baths' '15' 'Bathrooms: 14'
 '5.25 Baths' '10 ba' '41.0' '1.8 Baths' 'Bathrooms: 16' '10.5'
 'Bathrooms: 21' '9.5+' '36 Baths' '30 Baths' '27' '10.5 Baths' '12.5'
 '24.0' '23.0' '24' '28 Baths' '2.8 Baths' '34.0' '64.0' '11.5+' '13 ba'
 '39 Baths' '30' '30.0' '17.0' '42 Baths' '5.5 ba' '16 ba' '11.5 Baths'
 '27 Baths' '11 ba' '3.2 Baths' '2-1 / 2-1 / 1-1 / 1-1' '23' '60 Baths'
 '1 / 1-0 / 1-0 / 1-0' '6.75 Baths' '1-2 Baths' 'Bathrooms: 15' '68 Baths'
 '44.0']

Заменяем аналогично stories

In [598]:
def func_bath(x):
    if type(x) != int:
        x = re.findall(r'\d+',x)
        if (len(x) > 1):
            x = x[0]
        elif len(x) == 1:
            x = x[0]
        if not x:
            x = 1
    return int(x)

data['baths'] = data['baths'].fillna(1).apply(func_bath)

In [599]:
print(data['beds'].unique())

['4' '3 Beds' '5 Beds' ... '9,565 sqft' '1.74 acres' '8,479 sqft']

Видим, что некоторое количество данных перетасованно/заполнено неправильно
Обработаю аналогично stories и baths, от вбросов избавлюсь в последующих шагах

In [600]:
def func_bed(x):
    if type(x) != int:
        x = re.findall(r'\d+',x)
        if (len(x) > 1):
            x = x[0]
        elif len(x) == 1:
            x = x[0]
        if not x:
            x = 1
    return int(x)

data['beds'] = data['beds'].fillna(1).apply(func_bed)

In [601]:
print(data['status'].unique())

['Active' 'for sale' nan 'New construction' 'New' 'For sale' 'Pending' 'P'
 'Active/Contingent' 'Pre-foreclosure / auction' ' / auction'
 'Under Contract' 'Under Contract   Showing' 'Pre-foreclosure'
 'Under Contract Backups' 'foreclosure' 'Active Under Contract'
 'Foreclosed' 'Option Pending' 'Under Contract Show' 'for rent' 'Auction'
 'A Active' 'Contingent' 'Pending   Continue To Show' 'Price Change'
 'Back on Market' 'Active Option' 'Foreclosure' 'recently sold'
 'Coming soon: Nov 21.' 'Contingent Finance And Inspection'
 'Coming soon: Dec 4.' 'P Pending Sale' 'Coming soon: Nov 23.'
 'Active With Contingencies' 'Pending Ab' 'Pf' 'Contingent Show'
 'Contract P' 'Contingent Take Backup' 'Apartment for rent'
 'Backup Contract' 'Option Contract' 'Pending Continue To Show' 'pending'
 'Pending Inspection' 'Active Option Contract' 'C' 'Auction - Active'
 'Contingent   Show' 'Pi' 'Due Diligence Period'
 'Contract Contingent On Buyer Sale' 'U Under Contract'
 'Coming soon: Nov 29.' 'Coming soon: Dec 2.' 'Active Contingency'
 'Pending With Contingencies' 'Lease/Purchase Pending'
 'Pending Bring Backup' 'C Continue Show' 'Pending Taking Backups'
 'Offer Pending Signature' 'Under Contract - Show'
 'Contingent Lien Holder Release' 'Active - Auction' 'Active With Offer'
 'Coming soon: Nov 30.' 'Closed' 'Listing Extended'
 'Pending, Continue to Show' 'For Sale' 'Contingency Contract'
 'Coming soon: Dec 10.' 'Contingent Escape' 'Pending - Taking Backups'
 'Coming soon: Dec 24.' 'Active Backup' 'Coming soon: Nov 14.'
 'Coming soon: Nov 22.' 'Coming soon: Oct 21.' 'Under contract'
 'Coming soon: Dec 14.' 'Coming soon: Oct 24.' 'Condo for rent'
 'Active Contingent' 'Coming soon: Dec 18.' 'Pending Offer Approval'
 'Pending In' 'Coming soon: Dec 16.' 'Ct' 'Pending W/Insp Finance'
 'Coming soon: Dec 3.' 'Coming soon: Dec 25.' 'Coming soon: Nov 11.'
 'Coming soon: Nov 28.' 'Contingent Finance and Inspection'
 'Temporary Active' 'CT Insp - Inspection Contingency'
 'Coming soon: Nov 17.' 'Pending (Do Not Show)' 'Contingency 48 Hr (+/ )'
 'Pending   Continue To Show   Financing' 'Pending W/ Cont.'
 'Coming soon: Dec 6.' 'Back On Market' 'Coming soon: Nov 27.'
 'Pending W/Escape Clause' 'Coming soon: Nov 26.'
 'Pending - Continue to Show' 'Under Contract - No Show' 'Contract'
 'Coming soon: Dec 7.' 'Coming soon: Dec 27.' 'Coming soon: Dec 11.'
 'Coming soon: Dec 5.' 'Coming soon: Nov 13.' 'Contingent   Release'
 'Accepted Offer' 'Conditional Contract' 'Active - Contingent'
 'Active with Contract' 'Coming soon: Nov 19.' 'Coming soon: Nov 8.'
 'Coming soon: Oct 29.' 'Coming soon: Dec 15.' 'Pending W/Backup Wanted'
 'Pending Backups Wanted' 'Pending Fe' 'Coming soon: Oct 30.'
 'Contingent   No Show' 'Coming soon: Dec 9.' 'Pending Sale'
 'Accepting backups' 'Coming soon: Dec 20.' 'Pending Take Backups'
 'Contingent   Foreclosure' 'Conting Accpt Backups' 'Lease/Purchase'
 'Coming soon: Dec 13.' 'Contingent - Sale of Home' 'Sold: $285,000'
 'Sold: $15,000' 'Ps' 'Under Contract W/ Bckp' 'Re Activated'
 'Pending - Backup Offer Requested' 'Coming soon: Dec 12.' 'Reactivated'
 'Uc Continue To Show' 'Contingent - Financing' 'Coming soon: Nov 5.'
 'Coming soon: Nov 12.' 'Coming soon: Dec 1.' 'Pending Sh'
 'Coming soon: Nov 25.' 'Under Contract Taking Back Up Offers' 'Backup'
 'Coming soon: Dec 23.']

Очень много данных, не подчиняющихся общему правилу
Удалю этот столбец из-за отсутствия 10% данных и из-за тяжести обработки

In [602]:
print(data['propertyType'].unique())

['Single Family Home' 'single-family home' 'lot/land' ...
 'Cabin/Lodge, Contemporary, Converted Barn, Cottage, Loft with Bedrooms, Log Home, Post & Beam'
 'Lake House, Single Detached, Tudor'
 'Bilevel, Converted Dwelling, Loft with Bedrooms, Condo/Unit']

Аналогично status - отсутствуют 10% данных и тяжело привести к цифровому формату

In [603]:
data = data.drop(['propertyType', 'status'], axis=1)

Данных, в которых не заполнены city и street, очень мало
Удалю все строки в которых пропущены эти значения

In [604]:
data = data.drop(data.loc[data['city'].isnull()].index)
data = data.drop(data.loc[data['street'].isnull()].index)

Обработать столбцы target и sqft - тяжелее, так как nan - действительно пропущенное значение
Пропущенных данных в target довольно мало, поэтому я решил удалить строки с пропущенными данными

In [605]:
data = data.drop(data.loc[data['target'].isnull()].index)

Я считаю, что sqft вносит неплохой вклад в предсказывании цены
Так что, так же как и с target, удалим строки

In [606]:
data = data.drop(data.loc[data['sqft'].isnull()].index)

Убедимся, что пропущенынх данных больше нет

In [607]:
print(data.isnull().sum().max())

0

Взглянем на очищенные данные

In [608]:
data.head()

,street,baths,homeFacts,fireplace,city,schools,sqft,zipcode,beds,state,stories,PrivatePool,target
0,240 Heather Ln,3,"{'atAGlanceFacts': [{'factValue': '2019', 'fac...",1,Southern Pines,"[{'rating': ['4', '4', '7', 'NR', '4', '7', 'N...",2900,28387,4,NC,1,0,"$418,000"
1,12911 E Heroy Ave,3,"{'atAGlanceFacts': [{'factValue': '2019', 'fac...",0,Spokane Valley,"[{'rating': ['4/10', 'None/10', '4/10'], 'data...","1,947 sqft",99216,3,WA,2,0,"$310,000"
2,2005 Westridge Rd,2,"{'atAGlanceFacts': [{'factValue': '1961', 'fac...",1,Los Angeles,"[{'rating': ['8/10', '4/10', '8/10'], 'data': ...","3,000 sqft",90049,3,CA,1,1,"$2,895,000"
3,4311 Livingston Ave,8,"{'atAGlanceFacts': [{'factValue': '2006', 'fac...",1,Dallas,"[{'rating': ['9/10', '9/10', '10/10', '9/10'],...","6,457 sqft",75205,5,TX,3,0,"$2,395,000"
5,1624 S Newkirk St,1,"{'atAGlanceFacts': [{'factValue': '1920', 'fac...",0,Philadelphia,"[{'rating': [], 'data': {'Distance': [], 'Grad...",897 sqft,19145,2,PA,2,0,"$209,000"

In [609]:
#Приведем target и sqft к int

def func_cost(x):
    if type(x) != int:
        x = re.findall(r'\d+',x)
        if len(x) > 2:
            x = x[0] + x[1] + x[2]
        elif len(x) > 1:
            x = x[0] + x[1]
        elif len(x) == 1:
            x = x[0]
        if not x:
            x = 7500
    return int(x)

def func_area(x):
    if type(x) != int:
        x = re.findall(r'\d+',x)
        if len(x) > 1:
            x = x[0] + x[1]
        elif len(x) == 1:
            x = x[0]
        if not x:
            x = 100
    return int(x)

data['sqft'] = data['sqft'].apply(func_area)
data['target'] = data['target'].apply(func_cost)

city, street и zipcode очень тяжело преобразовать

In [610]:
data = data.drop(['city', 'street', 'zipcode'], axis = 1)

Достанем все данные из столбца homeFacts

In [611]:
print(data['homeFacts'][0])
print(type(data['homeFacts'][0]))

{'atAGlanceFacts': [{'factValue': '2019', 'factLabel': 'Year built'}, {'factValue': '', 'factLabel': 'Remodeled year'}, {'factValue': 'Central A/C, Heat Pump', 'factLabel': 'Heating'}, {'factValue': '', 'factLabel': 'Cooling'}, {'factValue': '', 'factLabel': 'Parking'}, {'factValue': None, 'factLabel': 'lotsize'}, {'factValue': '$144', 'factLabel': 'Price/sqft'}]}

<class 'str'>

Формат словаря в типе str
Приведем каждую строку к словарю и достанем все данные

In [612]:
def data_func1(x):
    a = ast.literal_eval(x)
    return a['atAGlanceFacts'][0].get('factValue')

def data_func2(x):
    a = ast.literal_eval(x)
    return a['atAGlanceFacts'][1].get('factValue')

def data_func3(x):
    a = ast.literal_eval(x)
    return a['atAGlanceFacts'][2].get('factValue')

def data_func4(x):
    a = ast.literal_eval(x)
    return a['atAGlanceFacts'][3].get('factValue')

def data_func5(x):
    a = ast.literal_eval(x)
    return a['atAGlanceFacts'][4].get('factValue')

def data_func6(x):
    a = ast.literal_eval(x)
    return a['atAGlanceFacts'][5].get('factValue')

def data_func7(x):
    a = ast.literal_eval(x)
    return a['atAGlanceFacts'][6].get('factValue')

data['built'] = data['homeFacts'].apply(data_func1)
data['rebuilt'] = data['homeFacts'].apply(data_func2)
data['heating'] = data['homeFacts'].apply(data_func3)
data['cooling'] = data['homeFacts'].apply(data_func4)
data['parking'] = data['homeFacts'].apply(data_func5)
data['lotsize'] = data['homeFacts'].apply(data_func6)
data['price'] = data['homeFacts'].apply(data_func7)
# built - год постройки
# rebuilt - год реновации
# heating - отопление
# cooling - кондиционер
# parking - паркинг
# lotsize - площадь участка
# price - цена за 1 sqft

In [613]:
print(data['schools'][0])
print(type(data['schools'][0]))

[{'rating': ['4', '4', '7', 'NR', '4', '7', 'NR', 'NR'], 'data': {'Distance': ['2.7 mi', '3.6 mi', '5.1 mi', '4.0 mi', '10.5 mi', '12.6 mi', '2.7 mi', '3.1 mi'], 'Grades': ['3–5', '6–8', '9–12', 'PK–2', '6–8', '9–12', 'PK–5', 'K–12']}, 'name': ['Southern Pines Elementary School', 'Southern Middle School', 'Pinecrest High School', 'Southern Pines Primary School', "Crain's Creek Middle School", 'Union Pines High School', 'Episcopal Day Private School', 'Calvary Christian Private School']}]

<class 'str'>

Аналогично homeFacts
Возьмем расстояние до самой ближайшей школы

In [614]:
def data_func8(x):
    m = []
    a = ast.literal_eval(x)
    a = dict(a[0])
    k = a['data'].get('Distance')
    for i in k:
        h = re.findall(r'\d+',i)
        if len(h) == 0:
            continue
        if len(h) == 1:
            m.append(float(h[0]))
            continue
        d = h[0] + '.' + h[1]
        m.append(float(d))
    if len(m) == 0:
        return 0
    else:
        return min(m)
    
data['distance'] = data['schools'].apply(data_func8)
#distance - дистанция до ближайшей школы

Столбцы homeFacts и schools обработаны и больше не нужны

In [615]:
data = data.drop(['homeFacts', 'schools'], axis = 1)

Взглянем на пропуски в новых столбцах

In [616]:
total = data.isnull().sum().sort_values(ascending=False)
percent = (data.isnull().sum()/data.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
print(missing_data.head(6))

         Total   Percent
lotsize  25126  0.075105
rebuilt  23170  0.069258
price    19418  0.058043
built      569  0.001701
parking    543  0.001623
cooling    543  0.001623

In [617]:
#Обработаем parking, cooling, heating
print(data['cooling'].unique())

['' 'Central' 'Central Air' ...
 'Central Air, Electric Hot Air, Gas (Hot Air), Heat Pump for A/C, Heat Pump for Heat, Multi-Zone A/C, Multi-Zone Heat, Natural Gas'
 '90%+ High Efficiency, Ductless HP-Mini Split, Tankless Water Heater'
 'Central A/C (Gas), Central Heat (Gas), Heat Pump']

In [618]:
def func_cool(x):
    if x == '':
        return 0
    return 1

data['cooling'] = data['cooling'].apply(func_cool)

In [619]:
print(data['heating'].unique())

['Central A/C, Heat Pump' '' 'Forced Air' ...
 'Electric Furnace, Electric Heat Pump'
 'Floor Furnace, Wall Electric, Wall Gas'
 'Baseboard, Hot Water, Programmable Thermostat, Radiant Floor']

In [620]:
def func_heat(x):
    if x == '':
        return 0
    return 1

data['heating'] = data['heating'].apply(func_heat)

In [621]:
print(data['parking'].unique())

['' 'Attached Garage' 'Detached Garage' ... 'Basement, Detached'
 'Paved Driveway, Off Street, Detached Garage'
 'Deed Restrictions, Fitness, Gated Community, Golf Carts OK, No Truck/RV/Motorcycle Parking, Pool, Special Community Restrictions']

In [622]:
def func_park(x):
    if x == '':
        return 0
    return 1

data['parking'] = data['parking'].apply(func_park)

Столбец built имеет немного пропусков которые тяжело обработать. Удалим пропущенные строки

In [623]:
def bi(x):
    if x == '':
        return np.nan
    return x

data['built'] = data['built'].apply(bi)

data = data.drop(data.loc[data['built'].isnull()].index)

Столбец rebuilt можно обработать следующим способом:
Если значение пропущено, то реновации не было
Заменим nan на значения built тех же строк

In [624]:
data['rebuilt'] = data['rebuilt'].fillna(0)
def func_rebuilt(row):
    if row['rebuilt'] == 0:
        return row['built']
    if row['rebuilt'] == '':
        return row['built']
    return row['rebuilt']
        
data['rebuilt'] = data.apply(lambda row: func_rebuilt(row), axis=1)

Обработать nan у lotsize и price будет тяжело
Так как пропущенных данных в этих столбцах немного, удалим строки с пропусками

In [625]:
data = data.drop(data.loc[data['lotsize'].isnull()].index)
data = data.drop(data.loc[data['price'].isnull()].index)
data.head()

,baths,fireplace,sqft,beds,state,stories,PrivatePool,target,built,rebuilt,heating,cooling,parking,lotsize,price,distance
1,3,0,1947,3,WA,2,0,310000,2019,2019,0,0,0,5828 sqft,$159/sqft,1.01
2,2,1,3000,3,CA,1,1,2895000,1961,1967,1,1,1,"8,626 sqft",$965/sqft,1.19
3,8,1,6457,5,TX,3,0,2395000,2006,2006,1,1,1,"8,220 sqft",$371/sqft,0.10
5,1,0,897,2,PA,2,0,209000,1920,1920,1,1,0,680 sqft,$233/sqft,0.00
6,1,0,1507,1,FL,1,0,181500,2006,2006,1,1,0,"4,996 Sq. Ft.",$120 / Sq. Ft.,0.80

In [626]:
#Достанем числа из lotsize и price

def func_lot(x):
    if type(x) != int:
        x = re.findall(r'\d+',x)
        if len(x) > 1:
            x = x[0] + x[1]
        elif len(x) == 1:
            x = x[0]
        if not x:
            x = 100
    return int(x)

data['lotsize'] = data['lotsize'].apply(func_lot)
data['price'] = data['price'].apply(func_lot)

Для обработки state я разделил все штаты на несколько групп
Группы были составленны в соответствии с этим сайтом
https://www.usnews.com/news/best-states/rankings

In [627]:
top = ['WA', 'NH', 'MN', 'UT', 'VT', 'MD', 'VA', 'MA', 'NE', 'CO', 'WI', 'NJ', 'FL', 'IA', 'ND', 'ID']
mid = ['GA', 'NC', 'CA', 'SD', 'CT', 'KS', 'DE', 'HI', 'NY', 'RI', 'OR', 'MO', 'MT', 'TN', 'WY', 'ME']

def state(x):
    if x in top:
        return 2
    if x in mid:
        return 1
    return 0

data['state'] = data['state'].apply(state)

Удостоверимся, что пропущенных данных не осталось

In [628]:
print(data.isnull().sum().max())

0

Этап первичной обработки пройден
Следующий этап - избавление от вбросов