In [9]:
%%time
from clearing import *

# Считывание и обработка данных
filename = 'trai.csv'
data = pd.read_csv(filename)
data = clearing(data)

# Предсказание и обработка результата
pred = regressor.predict(data)
for x in range(len(pred)):
    pred[x] = round(pred[x]/1000)*1000
target = pd.DataFrame(pred, columns = ['target']).astype(int)
final = data.join(target)

# Итог
final.head()

Wall time: 9.81 s

,street,baths,city,sqft,zipcode,beds,stories,built,lotsize,distance,target
0,72110,3,1320,2900,942,4,1,2019,5200,2.70,586000
1,24754,3,1328,1947,4059,3,2,2019,5828,1.01,310000
2,58803,2,806,3000,3240,3,1,1961,8626,1.19,2276000
3,114489,8,341,6457,2360,5,3,2006,8220,0.10,1992000
4,39303,1,1034,4940,1194,1,1,1976,10019,3.03,1278000