In [27]:
import pickle
import pandas as pd
X_test = pd.read_csv('example.csv')
with open('mymodel.pkl', 'rb') as pkl_file:
    regressor = pickle.load(pkl_file)
pred = regressor.predict(X_test)
print(len(X_test))
print(len(pred))

67249
67249

In [28]:
X_test.head()

,baths,fireplace,sqft,beds,state,stories,PrivatePool,built,rebuilt,heating,cooling,parking,lotsize,price,distance
0,1,0,1140.0,2,1,1,0,1945.0,1945.0,1,1,1,14375.0,193.0,0.70
1,2,0,1000.0,2,0,2,0,1981.0,1981.0,1,1,1,5227.0,115.0,0.20
2,2,0,1710.0,4,0,1,0,1993.0,1993.0,1,1,1,6700.0,188.0,0.20
3,3,1,2557.0,3,0,1,0,1996.0,2004.0,1,1,1,7712.0,125.0,0.21
4,5,1,2356.0,4,2,2,0,2018.0,2018.0,1,1,0,2178.0,196.0,2.75

In [29]:
pred

array([251856.16056576, 123695.99746346, 316451.71498556, ...,
       536951.85406068, 128070.44162028, 316937.52309625])